.login-body{
    background: url("");
    width: 100%;
    height: 100vh;
    background: url("https://cdn.pixabay.com/photo/2019/05/29/00/43/johns-hopkins-university-4236470_1280.jpg")no-repeat center center/cover;
    backdrop-filter: blur(10px);
    position: relative;
}
.login-sheet{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: #55555579; */
    backdrop-filter: blur(10px);
}
.login{
    width: 350px;
    max-width: 600px;
    min-width: 300px;
    position: absolute;
    background: #000000be;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    box-shadow: 2px 2px 30px rgba(255, 255, 255, 0.959);
    
}
.login h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    color: #ddd;
}
.login form{
    display: flex;
    justify-content: end;
    flex-direction: column;
}
.login form .input-box{
    border: 1px solid #99999973;
    border-radius: 30px;
    margin: 20px 0;
    width: 100%;
    padding: 5px 10px ;
}
.login form .input-box i{
    transition: 0.3s;
    pointer-events: none;
    color: #777;
}
.login form .input-box label{
    position: absolute;
    left: 20%;
    transition: 0.3s;
    user-select: auto;
    pointer-events: none;
    color: #777;
}


.login form .input-box input{
    width: 90%;
    height: 25px;
    float: right;
    background: transparent;
    border: none;
    outline: none;
    color: #777;
}
.login form .input-box input:focus ~ label,
.login form .input-box input:valid ~ label{
    transform: translate(-40px,-25px);
    color: #fff;
}
.login form .input-box input:focus ~ i,
.login form .input-box input:valid ~ i{
    color: #fff;
}
.login form select{
    border: 1px solid #99999962;
    background: transparent;
    outline: none;
    cursor: pointer;
    color: #555;
    padding: 5px 0;
    border-radius: 30px;
}
/* .login form .login-select option{
    background: #000000be;
    color: #ddd;
    border-radius: 30px;
    padding-left: 20px;
} */
.role-select-trigger{
    box-shadow: 0 0  0 #fff;
    width: 300px;
    padding: 0 30px;
    text-align: center;
}
.role-select-content{
    background: transparent;
    background: #000000dc;
    color: #999;
}
.login form button{
    border: 1px solid #cccccc83;
    margin: 10px 0;
    padding: 5px 0;
    float: right;
    cursor: pointer;
    width: 100px;
    color: #999;
    transition: 0.3s;
}
.login-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login-bottom a{
    transition: 0.3s;
    color: #999;
}
.login-bottom a:hover{
    color: #fff;
    
}
.login form button:hover{
    color: #fff;
}







