.table-container{
  background: none;
  /* box-shadow: 4px 4px 12px #999; */
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  margin: auto;
  overflow-x: auto;
}
.table-container table{
  background: pink;
  margin: auto;
  width: 1000px;

}
.table-container table thead{
  background: #777;
  color: #fff;
}
.table-container table thead tr{
}
.table-container table tbody tr:nth-child(odd){
  background: #888;
}
.table-container table tbody tr{
  padding: 10px 0;
}
.table-container table tbody tr th{}
.table-container table tbody tr td{}