.create-class-page {
  width: 100%;
  display: flex;
}
h1.createclass {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.create-class-page .form-container {
  display: flex;
  width: 45%;
  /* height: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.create-class-page .form-container form {
  height: 45px;
  margin: 30px 0;
}
.create-class-page .form-container form input {
  background: #eee;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border-radius: 20px 0px 0 20px;
}
.create-class-page .form-container form input::placeholder {
  font-size: 14px;
}
.create-class-page .form-container form button {
  width: 100px;
  font-size: 16px;
  height: 100%;
  font-weight: 600;
  border-radius: 0px 20px 20px 0;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
.create-class-page .class-list {
  width: 45%;
  margin: auto;
}
.create-class-page .class-list h2 {
  font-size: 25px;
  margin: 20px 0;
}
.create-class-page .class-list p {
  font-size: 19px;
}
.create-class-page .class-list table {
  width: 300px;
  text-align: start;
  border: 1px solid #000;
  margin: auto;
}
.create-class-page .class-list table tbody td {
  border: 1px solid #000;
  padding: 5px;
}
.create-class-page .class-list table tbody td .edit-btn {
  background: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  border-radius: 40px;
  position: relative;
}
.create-class-page .class-list table tbody td .edit-btn::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  background: #eee;
  top: 0;
  left: 50%;
}
.create-class-page .class-list table tbody td button {
  padding: 3px;
  cursor: pointer;
  color: #eee;
}
@media (max-width: 692px) {
  .create-class-page {
    flex-direction: column;
    width: 100%;
  }
  .create-class-page .form-container {
    width: 100%;
    margin: 20px 0;
    margin: auto;
  }
  .create-class-page .class-list {
    width: 100%;
    margin: auto;
  }
}
